@media (min-width: 576px) {
	.stats {
		&__item {
			display: flex;
			align-items: center;
			padding: 1em 0;
			width: 40%;
		}

		&__icon {
			margin: 0 1em;
			padding: 0.75em;
		}
	}

	.login-popup {
		&__container {
			width: auto;
			padding: 10em;
		}
	}

	.deposit__top {
		display: flex;
		justify-content: center;

		&-left,
		&-right {
			padding: 0 0.7em;
			width: 100%;
		}
	}
}

@media (min-width: 768px) {
	.nav-mobile {
		&__list {
			font-size: 2.6rem;
		}
	}

	// .drop {
	// 	&__item {
	// 		// width: 175px;
	// 		// height: 125px;
	// 	}
	// }

	.cases {
		&__item {
			&-container {
				width: 250px;
				// height: 250px;
			}
		}
	}

	.section {
		&__title {
			padding-left: 6em;
			text-align: left;
		}
	}

	.deposit {
		&__btn {
			width: calc(14%);
		}

		&__top {
			&-left,
			&-right {
				padding: 0 2em;
			}
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__list {
			display: flex;
		}

		&__hamb {
			display: none;
		}
	}

	.user {
		display: flex;
	}

	.stats {
		&__item {
			width: 20%;
		}
	}
}
