@use "./colors" as *;

.upgrader {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2em;
		padding: 0 1em;
		color: $text-color;
	}

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-middle {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 250px;
		}

		&-left,
		&-right {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1em;
		}

		&-left,
		&-right,
		&-middle {
			margin: 1em;
			width: 100%;
			border-radius: 20px;
			box-shadow: $normal-boxshadow;
			background-color: $main2-color;
		}

		&-img {
			width: 75%;
		}
	}

	&__infobox {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__base {
		position: relative;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background: conic-gradient(#cfa0ff 0 0%, #292a2d 0 100%);
		transform: rotate(0deg);
		transition: 5s ease-out;

		&-inner {
			width: 175px;
			height: 175px;
			background-color: #292a2d;
			border-radius: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			cursor: pointer;
		}
	}

	&__indicator {
		position: absolute;
		left: 50%;
		top: -30px;
		transform: translate(-50%);
		width: 30px;
		height: 30px;
		overflow: hidden;
		z-index: 101;

		&::after {
			position: absolute;
			content: "";
			display: block;
			top: -25%;
			left: 50%;
			transform: translate(-50%) rotate(45deg);
			width: 20px;
			height: 20px;
			border-radius: 0 2px 2px;
			background-color: $secondary-color;
		}
	}

	&__percent {
		color: white;
		font-size: 24px;
		font-weight: bold;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $secondary-color;
	}

	&__remove-btn {
		padding: 0.5em 1em;
		border: 2px solid $border-color;
		border-radius: 10px;
		font-weight: bold;
		background: $tiles-color;
		color: $text-color;
		box-shadow: $normal-boxshadow;
		cursor: pointer;
		transition: background 0.5s;

		&:hover {
			background: $tiles-color-hover;
		}
	}

	&__item-price {
		padding: 0.5em 1em;
		font-size: 1.6rem;
		border: 2px solid $secondary-color;
		border-radius: 10px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
		box-shadow: $purple-boxshadow;
		background: $secondary-color-alpha;
		color: $text-color;
	}

	&__list {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		&-btn {
			&--left {
				left: 0;
			}

			&--right {
				right: 0;
			}

			&--right, &--left {
				position: absolute;
				top: 50%;
				transform: translate(0 , -50%);
				padding: 0 0.25em;
				border: 1px solid $secondary-color;
				border-radius: 10px;
				background-color: transparent;
				color: $text-color;
				cursor: pointer;
			}
		}
	}

	&__item {
		min-width: 125px;
		width: 20%;
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 10px;
		font-size: 1.2rem;
		background-color: $main-color;
		cursor: pointer;
		transition: 0.5s;

		&:hover {
			transform: translateY(-5px);
		}
	}

	&__img {
		width: 100%;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		padding: 0 1em;

		&-title {
			font-size: 2rem;
			font-weight: bold;
			letter-spacing: 1px;
		}

		&-left,
		&-right {
			position: relative;
			margin: 2em 0;
			width: 100%;
			padding: 1em;
			border-radius: 20px;
			box-shadow: $normal-boxshadow;
			background-color: $main2-color;

			&-top {
				display: flex;
				justify-content: space-between;
				padding-bottom: 1em;
			}
		}

		&-right-mid {
			display: flex;
			flex-direction: column;
		}
	}
}
